[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third-party/gtsam"]
	path = third-party/gtsam
	url = https://github.com/crwper/gtsam.git
	branch = fix/disable-js
[submodule "third-party/oneTBB"]
	path = third-party/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
[submodule "third-party/KDDockWidgets"]
	path = third-party/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets.git
